
.mobileheader{
	position: relative;
	border-bottom: 1px solid #2db7f5;
}
.mobileheader .mblogo{
	padding: 0 5px;
	display: flex;
	height: 50px;
	align-items: center;
	width: 170px;
}

.mobileheader img{
	width: 48px;
	margin-right: 5px;
}
.mobileheader .mblogo span{
	font-size: 20px;
	color: #2db7f5;
}

@media screen and (max-width: 1224px){
.mobileheader button span{
	font-size: 12px;
}	
.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane{
    width: 100%;
    padding: 0;
}
}

.ant-tabs-bar{
	margin-bottom: 0!important;
}
.mobilecarousel{
	margin: 0 0 10px;
}
.mobilelist ul{
	background: #f6f6f6;
}
.mobilelist li{
	padding: 10px 10px 0;
}
.mobilelist li + li{
	border-top: 1px solid #e5e5e5;
}
.listWrap{
	display: block;
}
.listImg{
	width: 90px;
	float: left;
	margin-right: 10px;
}
.listContent{
	overflow: hidden;
}
.listContent > div{
	text-align: left;
    font-size: 18px;
    color: #404040;
    line-height: 1.2;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
}
.listContent p{
	font-size: 12px;
	line-height: 18px;
	color: #888;
	margin-top: 10px;
}
.listContent p span{
	display: inline-block;
	vertical-align: top;
	color: rgba(255,51,51,0.9);
	font-size: 12px;
	line-height: 12px;
	margin-right: 5px;
	border: 1px solid rgba(255,51,51,0.9);
	padding: 2px;
}









