
.mobileheader{
	position: relative;
	border-bottom: 1px solid #2db7f5;
}
.mobileheader .mblogo{
	padding: 0 5px;
	display: flex;
	height: 50px;
	align-items: center;
	width: 170px;
}

.mobileheader img{
	width: 48px;
	margin-right: 5px;
}
.mobileheader .mblogo span{
	font-size: 20px;
	color: #2db7f5;
}

@media screen and (max-width: 1224px){
.mobileheader button span{
	font-size: 12px;
}	

}



















