
body{
	min-width: 1340px;
	font-size: 12px!important;
}
.clearfix:after{
	clear: both;
	content: "";
	height: 0;
	visibility: hidden;
}
.ant-menu{
	font-size: 12px!important;
}
.logo{
	display: flex;
	align-items: center;
	color: #2db7f5;
}
.logo img{
	width: 48px;
}
.logo span{
	padding: 0 0 0 5px;
	font-size: 24px;
}


.copyright{
	text-align: center;
	font-size: 14px;
	line-height: 30px;
}

.loginpanel{
	position: absolute;
	right: 0;
	top: 0;
	line-height: 46px;
}

.radiusInput{
	border-radius: 6px!important;
}

.usercenter{
	display: inline-block!important;
}

@media screen and (max-width: 1224px){
body{
	min-width: initial;
}
.loginpanel{
	position: absolute;
	right: 10px;
	top: 0;
	line-height: 50px;
}	
.loginpanel button,
.loginpanel a{
	vertical-align: middle;
}
.loginpanel .ant-btn{
	font-size: 12px;
	height: 26px;
	padding: 0 10px;
	line-height: 26px;
}
.loginpanel i{
	font-size: 24px;
	color: #2db7f5;
	vertical-align: middle;
}
}
.content{
	padding: 15px 0 0;
}
.leftContainer{
	width: 400px;
	float: left;
}
.ant-carousel .slick-slider {
    padding-bottom: 45px;
}
.ant-carousel .slick-dots {
    position: absolute;
    bottom: 0;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: 100%;
}
.ant-carousel .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.ant-carousel .slick-dots li button {
    border: 0;
    background: transparent!important;
    opacity: 1!important;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}
.ant-carousel .slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\2022";
    width: 20px;
    height: 20px;
    font-size: 18px;
    font-family: arial, sans-serif;
    line-height: 20px;
    text-align: center;
    color: gray;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ant-carousel .slick-dots li.slick-active button:before {
    color: black;
    opacity: 0.75;
}
















